PORT=3001
CLIENT_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=energyflow
DB_SYNC=false
DB_LOG=false

JWT_SECRET=dev-secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=dev-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

SEED_ADMIN=true
SEED_ADMIN_EMAIL=admin@energyflow.com
SEED_ADMIN_PASSWORD=Admin123!
SEED_ADMIN_FORCE_RESET=true
